@model Taak.ViewModels.OfferViewModelCreate

@{
    ViewData["Title"] = "Create";
    Layout = "_WorkerCMSLayout";
}
<div class="container w-100 d-flex justify-content-between bg-light  p-4">
    <partial name="_TaskOfferCreateCardComponent" model="@Model.TaakTask" />
    <div class="container w-50 d-flex flex-column justify-content-center">
        <h5>Make an Offer</h5>
        
        <div class="row">
            <div class="w-75">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group" hidden>
                        <label asp-for="IdOffer" class="control-label"></label>
                        <input asp-for="IdOffer" class="form-control" />
                        <span asp-validation-for="IdOffer" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <label asp-for="IdTask" class="control-label"></label>
                        <input asp-for="IdTask" class="form-control" />
                        <span asp-validation-for="IdTask" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <label asp-for="IdTaskWorker" class="control-label"></label>
                        <input asp-for="IdTaskWorker" class="form-control" />
                        <span asp-validation-for="IdTaskWorker" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Buget" class="control-label"></label>
                        <input asp-for="Buget" type="number" min="10" class="form-control" value="10"/>
                        <span asp-validation-for="Buget" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SpecialRequirements" class="control-label"></label>
                        <input asp-for="SpecialRequirements" class="form-control" />
                        <span asp-validation-for="SpecialRequirements" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TaskStartDate" class="control-label"></label>
                        <input asp-for="TaskStartDate" class="form-control" />
                        <span asp-validation-for="TaskStartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EstimatedTime" class="control-label"></label>
                        <input asp-for="EstimatedTime" class="form-control" />
                        <span asp-validation-for="EstimatedTime" class="text-danger"></span>
                    </div>
            
                    <div class="form-group">
                        <input type="submit" value="Send Offer" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

