@model IEnumerable<Taak.ViewModels.OfferViewModelIndexByWorker>

@{
    ViewData["Title"] = "IndexByTaskWorker";
    Layout = "_WorkerCMSLayout";
    
}

<h4 class="ms-4">Your Offers</h4>

@if (Model.Count() != 0)
{
    @foreach(var offer in Model)
    {
        <partial name="_OfferByWorkerComponent" model="@offer"></partial>
    }
    /*implement pagination*/
    <div class="container container-fluid w-100 flex-grow-1 d-flex justify-content-center align-items-end">

        <nav aria-label="Page navigation example ">
          <ul class="pagination">
             @if(Model.Count()!=0){
                  
                    
                @for(var pageNumber=1;pageNumber<=ViewBag.Pages;pageNumber++)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Offer" asp-action="IndexByTaskWorker" asp-route-pageno="@pageNumber"  >@pageNumber</a>
                    </li>
                
                }
                   
                }
          </ul>
        </nav>
    </div>

}
else{
      <div class="pt-4">
        You have no valid offers at the moment. <br/>Click 
        <a asp-controller="TaakTask" asp-action="SearchTaskIndex" >here</a>
        to see some available tasks and accept tasks offer or make a custom offer
    </div>
}
@section Scripts{
    <script type="text/javascript">

       
    </script>
}
