
@{
    ViewData["Title"] = "_CustomerCMSLayout";
    Layout = "_Layout";
}


<div class=" d-flex pt-5 justify-content-between m-0  p-0">

    <div id="customerMenu" class="container-fluid d-flex flex-column gap-2 col-2 mt-2 border-end ">
        <a asp-controller="Stats" asp-action="IndexByAdmin" asp-area="" class="text-decoration-none border-bottom pb-2 text-capitalize text-start me-2 ps-1">Stats</a>
        <a asp-controller="Customer" asp-action="Index" asp-area="" class="text-decoration-none border-bottom pb-2 text-capitalize text-start me-2 ps-1">All Customers</a>
        <a asp-controller="TasksWorker" asp-action="Index" asp-area="" class="text-decoration-none border-bottom pb-2 text-capitalize text-start me-2 ps-1">All Workers </a>
        <a asp-controller="TaakTask" asp-action="Index" asp-area="" class="text-decoration-none border-bottom pb-2 text-capitalize text-start me-2 ps-1">All Tasks</a>        
        <a asp-controller="Offer" asp-action="Index" asp-area="" class="text-decoration-none border-bottom pb-2 text-capitalize text-start me-2 ps-1">All Offers</a>
        <a asp-controller="TaskCategory" asp-action="Index" asp-area="" class="text-decoration-none border-bottom pb-2 text-capitalize text-start me-2 ps-1">All Categories</a>
        
        
    </div>
    <div id="customerRenderActionsArea" class="container-fluid col-10">
         @RenderBody()
    </div>
 </div>

 @await RenderSectionAsync("Scripts", required: false)

