
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  ">
    <div class="container-fluid ">
                
               
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between border-bottom pb-2 pt-1">
                    <ul class="nav justify-content-center">
                        <li class="nav-item " >
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img width="80px" src="~/logo/logo.svg"></img></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="Index">Customer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CustomerCMS" asp-action="Index">CustomerCMS</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
            </nav>
</div>


